.work-experience {
	.jobs {
		display:flex;
		gap:20px;
		@media(max-width:1024px){
			flex-direction:column;
            margin-right: 20px;
            gap: 0;
		}
		article {
			background-color: var(--yellow-100);
			padding:30px;
			border-radius:30px;
            margin-bottom: 20px;
			flex:1;
			h3 {
				margin-top:20px;
				margin-bottom:10px;
			}
			p {
				margin-bottom:10px;
                margin-top: 20px;
			}
			figure {
				width:100%;
				padding-top:56.25%;
				overflow:hidden;
				position:relative;
				border-radius:15px;
				img {
					position:absolute;
					top:0;
					left:0;
					height:100%;
					object-fit:cover;
					transition: ease 3s all;
				}
				figcaption {
					position:absolute;
					bottom:0;
					left:0;
					right:0;
					background-color: rgba(0,0,0,0.5);
					color: var(--base-100);
					text-align:center;
					padding:10px;
					/* opacity:0; */
					visibility:visible;
					transition: ease 0.3s all;
				}

				&:hover {
					figcaption {
						opacity:1;
						visibility:visible;
					}
					img {
						transform: scale(1.2);
					}
				}

			}
		}
	}
}