.skills {
	.holder-blue {
		background-color: var(--blue-100);
		border-radius:30px;
		padding:30px;
		display:flex;
		@media(max-width:1024px){
			flex-direction:column;
		}
		.left-column {
			flex:1;
			ul {
				list-style-type: none;
				gap:10px;
				margin-right:100px;
				margin-bottom:20px;
				li {
					display:inline-block;
					background-color: var(--blue-400);
					padding:10px 20px;
					border-radius:15px;
					margin-bottom:10px;
				}
			}
		}
		.right-column {
			flex:1;
			p {
				margin-bottom:20px;
			}
		}
	}
}

#skills-section {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
  }
  
  #skills-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  #skills-list {
    list-style-type: none;
    padding: 0;
  }
  
  #skills-list li {
    font-size: 18px;
    margin-bottom: 5px;
    background-color: #ffe066;
    padding: 10px;
    border-radius: 5px;
  }
  